{% extends 'base.html.twig' %}

{% block title %}Mes ambiances
{% endblock %}

{% block body %}
	<main>
		<div class="container mt-4 mb-4">

			<h1 class="mt-2 mb-4">Mon dashboard</h1>

			<div class="row d-flex justify-content-around">

				<!-- SECTION DE GAUCHE - LES STATISTIQUES -->
				{% include('dashboard_stats/dashboardStats.html.twig') %}
				
				<!-- SECTION CENTRALE - LISTE DES AMBIANCES -->
				<div class="col-5 border border-3 border-black rounded-2 d-flex align-items-center flex-column pt-3 pb-3">
					
					<div class="row w-100">
						<h2 class="text-center pb-2">Mes ambiances</h2>
					<div>
						
					<table width="100%">
						<thead>
							<tr>
								<th scope="col">Nom</th>
								<th scope="col">Couleur</th>
								<th scope="col">Luminosité</th>
							</tr>
						</thead>
						<tbody>
							{% for mood in moods %}
								<tr>
									<td><a class="text-black" href="{{ path('app_view_one_mood', {id: mood.id})}}"><strong><u>{{mood.label}}</u></strong></a></td>
									<td>{{mood.color}}</td>
									<td>{{mood.luminosity}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<!-- BOUTON D'AJOUT -->	
					<div class="d-flex justify-content-center">
						<button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#reg-modal">
							Ajouter une ambiance
						</button>

						<!-- FORMULAIRE D'AJOUT D'UNE AMBIANCE - FENÊTRE MODALE -->
						{% include 'modal_add_mood/modalAddMood.html.twig' with { 'modalAddMoodForm': modalAddMoodForm } %}
					</div>
				</div>
			</div>
		</div>
					
			<!-- SECTION DE DROITE - LE MENU -->
			{% include('dashboard_menu/dashboardMenu.html.twig') %}
			
		</div>
	</main>
{% endblock %}
