{% block body %}

<main>
    <div class="container">
        
            
                <nav>
                    <a class="nav-link active" aria-current="page" href="#"></a>
                    <a class="nav-link pt-2" href="/my/places">Mes lieux</a>
                    <a class="nav-link pt-2" href="/my/bulbs">Mes ampoules</a>
                    <a class="nav-link pt-2" href="/my/moods">Mes ambiances</a>
                    <a class="nav-link pt-2" href="/my/schedules">Mes programmations</a>
                </nav>
    
       
    </div>
</main>

{% endblock %}
