{% block body %}


    
        
            <div class="col-2 border border-3 border-black rounded-2 d-flex align-items-center flex-column pt-3 pb-3">
                <nav>
                    <a class="nav-link active" aria-current="page" href="#"></a>
                    <a class="nav-link pt-2" href="/my/places">Mes adresses</a>
                    <a class="nav-link pt-2" href="/my/bulbs">Mes ampoules</a>
                    <a class="nav-link pt-2" href="/my/moods">Mes ambiances</a>
                    <a class="nav-link pt-2" href="/my/schedules">Mes programmes</a>
                </nav>
            </div>    
       {#  #}
    


{% endblock %}
