:root{
    --fm-black: rgb(40, 40, 40);
    --fm-white: rgb(253, 254, 253);
    --fm-yellow: rgb(255, 246, 103);
    --fm-dark-grey: rgb(90, 86, 86);
    --fm-blue: rgb(#52DCFF);

    --fm-blue-tr: rgba(0, 0, 255, 0.3);
    --fm-yellow-tr: rgba(255, 246, 103, 0.3);
}

h1{
    font-family: "Roboto Serif";
    font-size: 45px;
}

h4{
    font-family: "Roboto Mono";
    font-size: 18px;
}

h2{
    font-family: "Roboto Mono";
    font-size: 25px;
}

h3{
    font-size: "Roboto Mono";
    font-size: 20px;
}

a{
    font-family: "Roboto Mono";
    font-size: 18px;
}

p{
    font-family: "Roboto mono";
    font-size: 14px;
}

li{
    font-family: "Roboto Mono";
}

/** H2 ANIMATIONS **/
.btn-picture{
    background-color: var(--fm-yellow);
    border-radius: 10px;
    text-transform: uppercase;
}

.btn-picture:hover{
    background-color: var(--fm-blue);
}

main h2{
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}

/************************INDEX **********************/
#header-index .background-dark{
    background-image:linear-gradient(to top right, var(--fm-black), 95% , var(--fm-yellow)), url(../img/images/lamp-dark.png);
    text-align: center;
    height: 100rem;
    padding-top: 20rem;
    background-size: cover;
}

#header-index .background-dark img{
    width: 10%;
}

#header-index .background-dark p{
    color: var(--fm-yellow);
}

#header-index .background-dark h1{
    color: var(--fm-yellow);
    font-family: "Racing Sans One";
    font-size: 45px;
}
/***********************ACCUEIL.HTML********************/
/** NAVBAR **/
#header .bg-body-tertiary, #header-index .bg-body-tertiary{
    background-color: var(--fm-black)!important;
}

nav div a picture source{
    width: 350px;
}

nav div a img{
    width: 15rem;
}
.navbar-toggler{
    background-color: var(--fm-yellow);
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: var(--fm-yellow);
}

.navbar-expand-lg .navbar-collapse{
    padding-left: 10rem;
}

.hero-shot-index{
    background-image: url(../img/images/lampe-hero-shot.png);
    text-align: center;
    height: 40rem;
    padding-top: 20rem;
    background-size: cover;
}

.hero-shot-index h1{
    font-family: "Roboto Serif";
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
}

.hero-shot-index p{
    font-family: "roboto mono";
    font-size: 36px;
    color: var(--fm-dark-grey);
}

.hero-shot-index a {
    text-decoration:none;
    color: var(--fm-black);
}

/** BANDEAU DE GARANTIE **/
#waranty{
    background-color: var(--fm-yellow);
    padding: 2rem 0;
}

#waranty img{
    width: 40px;
    padding-bottom: 1rem;
}

#waranty article{
    text-align: center;
}

#waranty h4{
    font-size: 18px;
    color: var(--fm-black);
}

#waranty p{
    font-size: 14px;
    color: var(--fm-dark-grey);
}

/** PHOTO PANORAMIQUE **/
#panoramic-picture{
    background-image: url(../img/images/photo-salon.png);
    background-size: cover;
    background-position: center;
    height: 30rem;
    padding-top: 12rem;
    text-align: center;
}

#panoramic-picture a {
    text-decoration: none;
    color: var(--fm-black);
}

/** LABELS **/
#labels{
    text-align: center;
    background-color: var(--fm-yellow);
    padding: 2rem 0;
}

#labels img{
    width: 40px;
    padding-bottom: 1rem;
}

#labels h4{
    font-size: 18px;
    color: var(--fm-black);
}

#labels p{
    font-size: 14px;
    color: var(--fm-dark-grey);
}

/** FONCTIONS **/
#functions{
    padding: 3rem 10rem;
}

#functions p{
    text-align: center;
    font-family: "roboto mono";
    font-size: 14px;
}

#functions p:nth-of-type(even){
    margin-left: 3rem;
}

#functions div article div h2{
    padding-bottom: 2rem;
}

#functions .functions-list{
    padding-top: 5rem;
}

#functions h2{
    font-weight: 700;
}

#functions img{
    width: 20rem;
    min-width: 100%;
    margin: 0 auto;
}

#functions article .qr-codes img{
    width: 100px;
}

/** TIMELINE **/
#timeline{
    padding: 3rem;
}

#timeline img{
    width: 100%;
}

/** TELECHARGEMENT **/
#download{
    background-color: var(--fm-yellow);
    padding: 2rem 0;
}

#download ul li{
    list-style-type: none;
}

#download img{
    width: 65px;
}

#download .download-button img{
    width: 10rem;;
}

#download p{
    font-family: "Roboto Mono";
    font-size: 20px;
    font-weight: bold;
}

#download .content{
    display: inline-block;
}

/** QUALITE **/
#quality{
    padding: 2rem;
    background: var(--fm-yellow);
    text-align: center;
}

#quality h3 {
    text-align: center;
    font-weight: bold;
}

#quality img{
    width: 40px;
    padding-bottom: 1rem;
}

/** QUOTE **/
#quote{
    color: var(--fm-black);
    padding: 5rem 0;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

/** FOOTER **/
footer{
    background: var(--fm-black);
    color: var(--fm-white);
    padding-top: 5rem;
}

footer .top img{
    height: 2rem;
}

footer ul{
    list-style-type: none;
}

footer .top ul li{
    display: inline;
    color: var(--fm-yellow);
}

footer ul li p{
    font-size: 14px;
}

footer h4{
    color: var(--fm-dark-grey);
}

.network{
    display: flex;
    justify-content: flex-end;
    padding-right: 55px;
}

footer .network ul li{
    display: inline;
}

footer .network img{
    height: 2rem;
}


/********************AMPOULE***************/
/** HEADER **/
#header .hero-shot-ampoule img{
    width: 100%;
}

#header .slogan{
    padding-top: 15rem;
}

#header .slogan h1{
    text-transform: uppercase;
}

.hero-shot-ampoule h1{
    font-weight: 700;
    text-transform: uppercase;
}

.hero-shot-ampoule p{
    font-family: "roboto mono";
    font-size: 36px;
    color: var(--fm-dark-grey);
}
@media only screen and (max-width: 768px) {
    .hero-shot-ampoule p{
        font-size: 25px;
    }
  }

#header .hero-shot-ampoule a{
    text-decoration:none;
    color: var(--fm-black);
}

/** CARACTERISTICS **/
#caracteristics{
    padding: 3rem;
}
#caracteristics img{
    width: 80%;
}

#caracteristics ul li{
    list-style-type: none;
}

#caracteristics h2{
    padding-bottom: 2rem;
    text-align: right;
}

#caracteristics ul li{
    padding-bottom: 1rem
}

/** COLORS**/
#colors{
    padding: 3rem;
    background-image: linear-gradient(to left, var(--fm-blue-tr),var(--fm-yellow-tr));
}

#colors img{
    width: 80%;
}

#colors h3{
    font-weight: bold;
}

/** PANORAMIC LAMPS **/
#panoramic-lamps{
    background-image: url(../img/images/panoramique-lampes.png);
    text-align: left;
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--fm-white);
}

#panoramic-lamps .panoramic-text{
    padding-top : 15rem;
}

/** TIME **/
#time{
    padding: 3rem;
}

#time img{
    padding-top: 5rem;
    width: 100%;
    position: relative;
    z-index: -1;
}

#time h3{
    font-weight: bold;
}

/** MODES **/
#modes{
    margin-top: -5rem; 
}
#modes img{
    width: 100%;
}

/** REMOTE **/
#remote{
    padding-top: 3rem;
}
#remote img{
    width: 100%;
    position: relative;
    padding-top: 5rem;
    z-index: -1;
}

#remote h3{
    font-weight: bold;
}

#remote ul{
    list-style-type: none;
    padding-left: 0;
}

/** TECHNICS **/
#technics{
    background-color: var(--fm-yellow);
    padding: 3rem;
    margin-top: -5rem
}

#technics h2{
    text-align: center;
    padding-bottom: 2rem;
}

#technics .technics-list ul li{
    list-style-type: none;
    padding-bottom: 2rem;
}

#technics .technics-list ul li img{
    width: 30px;
    padding-right: 10px;
}

/***************** DATA VIZ ***************/
/** HEROSHOT **/
.hero-shot-data-viz{
    background-image: url(../img/images/ampoule-inversee.png);
    text-align: center;
    height: 50rem;
    padding-top: 20rem;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -70px;
    padding-bottom: -4rem;
}

.hero-shot-data-viz h1{
    font-family: "Roboto Mono";
    
}

/** DATA DUREE DE VIE **/
#contest article{
    text-align: center;
    padding: 4rem 0;
    padding-top: 10px;
    max-width: 100%;
}

#contest p{
    margin-bottom: -2rem;
}

#contest {
    position: relative;
    margin-top: -10rem;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem; 
    text-align: left;
}


/** DATA EMPOULE ECLATEE **/
#view {
    background-color: var(--fm-yellow);
    padding: 4rem 0;
}

#view article img {
    max-width: 100%;
    width: 50rem;
    margin: 0 auto;
}

/** DATA COULEURS **/
#colors-choice{
    padding: 4rem 0;
}

#colors-choice img{
    max-width: 100%;
    padding: 2rem 2rem;
    width: 40rem;
    margin: 0 auto;
}

/** DUREE INCROYABLE **/
#duration{
    padding: 2rem;

}

.img-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.img-text img {
    margin-right: 10px;
}

/** DATA ECONOMISEZ **/
#economy{
    background-color: var(--fm-yellow);
    padding: 4rem 0;
    text-align: center;
}

#economy img{
    width: 1000px;
}

/***************** CONNEXION ***************/
#connexion button a{
    color: black;
    text-decoration:none
}

#connexion body {
    background-color: #f7f7f7;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#connexion .brand {
    color: #FFF667;
    font-weight: bold;
}

.inscription {
    color: var(--fm-black);
    text-decoration: underline;
    font-weight: bold;    
}

.btn-warning {
    background-color: #FFF667;
    border-color: var(--fm-black);
    color: var(--fm-black);
    border: solid 2px var(--fm-black);
}

.btn-warning:hover {
    background-color: #52DCFF;
    border-color: var(--fm-black);
}

.btn-outline-primary img,
.btn-outline-secondary img,
.btn-outline-danger img {
    vertical-align: middle;
}

.btn-group .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.btn-group .btn:last-child {
    margin-right: 0;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.text-center a:hover {
    text-decoration: underline;
}

.oubli {
    color: var(--fm-dark-grey);
}

.continuer {
    color: var(--fm-dark-grey);
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

/***************** INSCRIPTION ***************/
#inscription body {
    background-color: #f8f9fa;
}

body {
    font-family: "roboto mono";
}


.back-icon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 24px;
    height: 24px;
}

.brand {
    color: #FFF667;
    font-weight: bold;
    font-family: "racing sans one";
    -webkit-text-stroke: 1px var(--fm-black);
}

#inscription .connexion{
    color: var(--fm-black);
    text-decoration: underline;
    font-weight: bold;
}

.mascot {
    width: 150px;
    height: auto;
}
.form-group {
    padding-bottom: 2rem;
    width: 20rem;
}

.oubli {
    color: var(--fm-black);
    text-decoration: underline;
}

.btn-primary {
    background-color: #FFF667;
    border: none;
    color: var(--fm-black);
    border: solid 2px var(--fm-black);
}

.btn-primary:hover {
    background-color: #52DCFF;
    color: var(--fm-black);
    border: solid 2px var(--fm-black);
}

.continuer {
    color: var(--fm-dark-grey);
}

#img-ampoule {
    width: 400px;
    height: 400px;
}


/** MEDIA QUERIES **/

@media only screen and (min-width: 576px) {
    @keyframes reveal {
        from {
          transform: scale(0);
          opacity: 0;
        }
        to {
          transform: scale(1);
          opacity: 1;
        }
      }
  }

  @media only screen and (max-width: 768px) {
    #header .slogan{
        padding-top: 10rem;
    }
  }

@media only screen and (max-width: 768px) and (min-width: 576px) {
    #panoramic-picture{
        display: none;
    }
  }

  @media only screen and (max-width: 576px) {
    #time{
        padding: 3rem 1rem 3rem 1rem;
    }
  }

  @media only screen and (max-width: 768px) {
    .hero-shot-index p{
        font-size: 25px;
    }
  }

  @media only screen and (max-width: 576px) {
    #functions{
        padding: 3rem 0;
    }
  }

  @media only screen and (max-width: 576px) {
    #download p{
        text-align: center;
    }
  }

  @media only screen and (max-width: 768px) {
    #caracteristics h2{
        text-align: center;
        padding-bottom: 1rem;
    }
  }

  @media only screen and (max-width: 768px) {
    h1{
        font-size: 35px;
    }
  }
