/****************************** *********/
/********** Intensité lumineuse *********/
/****************************************/

/**** Images ****/

#cosyPic {
    opacity: 0;
    object-fit: cover;
    position: absolute;
}

#romanticPic {
    opacity: 1;
    object-fit: fill;
    position: absolute;  
}

#dayPic {
    opacity: 0;
    object-fit: cover;
    position: absolute;
    
}

#sleepTimePic {
    opacity: 0;
    object-fit: cover;
    position: absolute;
    
}

/**** Boutons ****/

#cosyBtn {
    position: absolute;
    bottom: 20%;
    left: 20%;
}
    
#romanticBtn {
    position: absolute;
    bottom: 20%;
    left: 40%;
}

#nightBtn {
    position: absolute;
    bottom: 20%;
    left: 60%;
}

#sleepTimeBtn {
    position: absolute;
    bottom: 20%;
    left: 80%;
}

/**** Divisions ****/

#picParent {
    position: relative;
    width: 300px;
    height: 300px;
}

.modes {
    position: relative;
}

/**** Texte ****/

#settings {
    position: absolute;
    right: 0.2;
    z-index: 2;
    color: aliceblue;
}