/****************************** *********/
/********** Intensité lumineuse *********/
/****************************************/

/**** Images ****/

#cosyPic, #romanticPic, #dayPic, #sleepTimePic {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#cosyPic {
    opacity: 1;
}



/**** Boutons ****/

#cosyBtn, #romanticBtn, #nightBtn, #sleepTimeBtn {
     
}
    
/* #romanticBtn {
    position: absolute;
    bottom: 5%;
    left: 40%;
}

#nightBtn {
    position: absolute;
    bottom: 5%;
    left: 50%;
}

#sleepTimeBtn {
    position: absolute;
    bottom: 5%;
    left: 60%;
} */

#allBtn {
    
}

/**** Divisions ****/

#picParent {
    position: relative;
    height: 45rem;
    align-items: bottom;
    gap: 10px;
}

.modes {
    position: relative;
}

/**** Texte ****/

/* #settings {
    position: absolute;
    right: 0.2;
    z-index: 2;
    color: aliceblue;
} */