/****************************/
/****** NOUVEAUX ICÔNES *****/
/****************************/
.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer; 
}

/**** Switch ****/
.icon-toggle {
    background-image: url('../icones/toggle-on-solid.svg');
}

/**** Poubelle ****/
.icon-trash-can-regular{
    background-image: url('../icones/trash-can-regular.svg');
}

/**** Crayon modifier ****/
.icon-modify {
    background-image: url('../icones/pen-to-square-solid.svg');
}

/***** Cercle chromatique *****/
.colorWheel {
    width: 25px;
    height: 25px;
    border: solid black;
    border-radius: 50%;
}

