/****** NOUVEAUX ICÔNES *****/
.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-toggle {
    background-image: url('../icones/toggle-on-solid.svg');
}

.icon-plus {
    background-image: url('../icones/plus-solid.svg');
}

.icon-lightbulb {
    background-image: url('../icones/lightbulb-regular.svg');
}

/***** Cercle chromatique *****/
.cercleChromatique {
    width: 25px;
    height: 25px;
    border: solid black;
    border-radius: 50%;
}

/***** Image compteur économies réalisées ******/
.economies {
    width: 10rem;
    height: auto;
}

/***** Toggle ON/OFF *****/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f32121;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #61dc23;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #61dc23;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}  
