/****************************/
/****** NOUVEAUX ICÔNES *****/
/****************************/
.icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-toggle {
    background-image: url('../icones/toggle-on-solid.svg');
}

.icon-plus {
    background-image: url('../icones/plus-solid.svg');
}

.icon-trash-can-regular{
    background-image: url('../icones/trash-can-regular.svg');
}

.icon-lightbulb {
    background-image: url('../icones/lightbulb-regular.svg');
}

.icon-modify {
    background-image: url('../icones/pen-to-square-solid.svg');
    width: 20px;
    height: 20px;
}
/***** Cercle chromatique *****/
.colorWheel {
    width: 25px;
    height: 25px;
    border: solid black;
    border-radius: 50%;
}

