{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
   <div class="container">
       
       <h1>Mon dashboard</h1>

       <div class="row d-flex justify-content-around">
            
            <div class="col-4 border d-flex align-items-center flex-column">
                <h2>Statistiques</h2> 
                <div class="row d-flex justify-content-evenly">
                        <div class="col-6 d-flex align-items-center justify-content-end"><p>Économies réalisées: </p></div>
                        <div class="col-6 d-flex align-items-center"><img class="economies" src="{{asset('images/Counter.png')}}" alt="économies"></div>
                        
                </div>
            </div>
        
            <div class="col-4 border d-flex align-items-center flex-column">
                <h2>Mes ampoules</h2>
                <div class="row">
                    <div>
                        {# for each en twig pour cette section #}
                        <div class="col-12 d-flex flex-row justify-content-evenly align-items-center border border-secondary-subtle border-bottom-0 p-2">
                            <i class="icon icon-lightbulb p-2"></i>
                            <p class="d-flex align-items-center p-2 mb-0">Cuisine</p>
                            <div>
                                <input class="cercleChromatique" type="color" id="head" name="head" value="#e66465" />
                                {# <label for="head">Head</label> #}
                            </div>
                            {# <div class="cercleChromatique p-2"></div> #}
                            <div class="p-2 d-flex align-items-center"><input type="range" min="-10" max="10"/></div>
                            <label class="switch p-2">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        {# Interaction utilisateur ajout d'une nouvelle ampoule ampoule #}
                        <div class="d-flex justify-content-center border border-secondary-subtle "><i class="icon icon-plus"></i></div>
                    </div>
                </div>
            </div>

            <nav class="nav col-4 d-flex flex-column align-items-end border">
                <a class="nav-link active" aria-current="page" href="#"><i class="icon icon-toggle"></i></a>
                <a class="nav-link" href="{{ path('app_account')}}">Mon profil</a>
                <a class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">Mes lieux</a>
                    <ul class="dropdown-menu">
                        {# Ajout de lieux, donc for each version twig #}
                        <li><a class="dropdown-item" href="#">Domicile</a></li>
                        <li><a class="dropdown-item" href="#">Maison de vacances</a></li>
                        <li><a class="dropdown-item" href="#">Chez maman et papa</a></li>
                    </ul>
                <a class="nav-link" href="#">Mes ambiances</a>
                <a class="nav-link" href="#">Mes programmations</a>
                <a class="nav-link" href="#">Commande rapide</a>
            </nav> 
       </div>

   </div>
{% endblock %}
